[submodule "glug_timer/common_headers"]
	path = glug_timer/common_headers
	url = https://github.com/libglug/common_headers.git
[submodule "test/cunit"]
	path = test/cunit
	url = https://github.com/libglug/cunit.git
